.h{
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* menu */
.menu{
 font-size: 20px;

}

/*fotos*/
.carro{
    text-align: center;
}


/*cards contatos*/


@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
.gr-1 {
  background: linear-gradient(170deg, #01E4F8 0%, #1D3EDE 100%);
}

.gr-2 {
  background: linear-gradient(170deg, #B4EC51 0%, #429321 100%);
}

.gr-3 {
  background: linear-gradient(170deg, #C86DD7 0%, #3023AE 100%);
}

* {
  transition: 0.5s;
}

.h-100 {
  height: 100vh !important;
}

.align-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.column {
  margin-top: 3rem;
  padding-left: 3rem;
}
.column:hover {
  padding-left: 0;
}
.column:hover .card .txt {
  margin-left: 1rem;
}
.column:hover .card .txt h1, .column:hover .card .txt p {
  color: white;
  opacity: 1;
}
.column:hover a {
  color: white;
}
.column:hover a:after {
  width: 10%;
}

.card {
  min-height: 170px;
  margin: 0;
  padding: 1.7rem 1.2rem;
  border: none;
  border-radius: 0;
  color: black;
  letter-spacing: 0.05rem;
  font-family: "Oswald", sans-serif;
  box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);
}
.card .txt {
  margin-left: -3rem;
  z-index: 1;
}
.card .txt h1 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}
.card .txt p {
  font-size: 0.7rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0rem;
  margin-top: 33px;
  opacity: 0;
  color: white;
}
.card a {
  z-index: 3;
  font-size: 0.7rem;
  color: black;
  margin-left: 1rem;
  position: relative;
  bottom: -0.5rem;
  text-transform: uppercase;
}
.card a:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  width: 0;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid white;
  transition: 0.5s;
}
.card .ico-card {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card i {
  position: relative;
  right: -50%;
  top: 60%;
  font-size: 12rem;
  line-height: 0;
  opacity: 0.2;
  color: white;
  z-index: 0;
}
  
/*card perfil*/

.profile-card-1 {
    font-family: "Open Sans", Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    color: #01E4F8;
    text-align: center;
    height: 368px;
    border: none;
    background-color: #2e3434;
 }
 
 .profile-card-1 .card-content {
    width: 100%;
    padding: 15px 25px;
    position: absolute;
    left: 0;
    top: 50%;
 }
 .profile-card-1 .profile {
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    max-width: 100px;
    opacity: 1;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 1);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
 }
 .profile-card-1 h2 {
    margin: 0 0 5px;
    font-weight: 600;
    font-size: 25px;
 }
 .profile-card-1 h2 small {
    display: block;
    font-size: 15px;
    margin-top: 10px;
 }
 .profile-card-1 i {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin: 0 5px;
 }
 .profile-card-1 .icon-block {
    float: left;
    width: 100%;
    margin-top: 15px;
 }
 .profile-card-1 .icon-block a {
    text-decoration: none;
 }
 .profile-card-1 i:hover {
    background-color: #fff;
    color: #2e3434;
    text-decoration: none;
 }
 
 /*footer*/
 img {
  margin: 0 auto;
  display: block;
  margin-top: 20%;
}

.redes-sociais {
  margin: 20px;
  text-align: center;
}


.redes-sociais a {
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}

.redes-sociais a:hover {
  color: #fc5c65;
}